.searchbarContainer {
  display: flex;
  width: 300px;
}
input:focus {
  box-shadow: none !important;
  border-color: #302e53 !important;
}

@media screen and (max-width: 768px) {
  .searchbarContainer {
    width: 100%;
  }
}
